body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: rgb(75, 75, 75);
}

button {
    background-color: rgb(15, 15, 15);
    color: white;
    border: 10px black;
    border-radius: 7%;
    width: max-content;
    height: 30px;
    cursor: pointer;
}

/* #usercart {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 90%; 
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1;
    overflow: auto; 
}

#usercart-content {
    height: 100%; 
    overflow-y: auto;
} */