<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Si detectamos un usuario con ese correo electrónico le enviaremos un enlace</h2>
      <form action="/api/sessions/resetreq" method="post">
        <input type="email" name="email" placeholder="email" />
        <input type="submit" value="Recovery" />
      </form>
    </div>
  </div>
  <form  action="/" method ="get">
    <button type="submit">Regresar</button>
    </form>
</div>